.btn-default {
  @apply text-14px p-12px bg-bg-page;
  border-radius: 20px !important;
}

.btn-primary {
  @apply text-14px p-12px color-white;
  background: var(--color-primary) !important;
  border-radius: 20px !important;
}
